In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_casos.csv", converters={'cod_ine': lambda x: str(x)})

df_long = pd.melt(df, id_vars=["cod_ine", "CCAA"], var_name="fecha", value_name="total")

df_long

    cod_ine        CCAA       fecha  total
0        01   Andalucía  27/02/2020      1
1        02      Aragón  27/02/2020      0
2        03    Asturias  27/02/2020      0
3        04    Baleares  27/02/2020      1
4        05    Canarias  27/02/2020      6
..      ...         ...         ...    ...
495      14      Murcia  22/03/2020    296
496      15     Navarra  22/03/2020    794
497      16  País Vasco  22/03/2020   2097
498      17    La Rioja  22/03/2020    654
499      00       Total  22/03/2020  28572

[500 rows x 4 columns]